<!DOCTYPE html>
<html ng-app="app" flow-init>
<head>
  <title>Media Upload</title>
  <script src="../../angular/angular.js"></script>
  <script src="../../dist/ng-flow-standalone.js"></script>
  <script src="app.js"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
        rel="stylesheet"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<body flow-prevent-drop
      flow-drag-enter="style={border: '5px solid green'}"
      flow-drag-leave="style={}"
      ng-style="style">
<div class="container">
  <!--<h1>flow basic example</h1>-->
  <hr class="soften"/>

  <div class="row">
    <!--<div class="span6">-->
      <!--<h2>Inputs:</h2>-->

      <!--<input type="file" flow-btn/>-->
      <!--<input type="file" flow-btn flow-directory ng-show="$flow.supportDirectory"/>-->
    <!--</div>-->
    <div class="span6">
      <span class="btn" flow-btn><i class="icon icon-file"></i>Upload File</span>
      <span class="btn" flow-btn flow-directory ng-show="$flow.supportDirectory"><i class="icon icon-folder-open"></i>
        Upload Folder
      </span>
    </div>
  </div>
  <hr class="soften">

  <h2>Transfers:</h2>

  <p>
    <a class="btn btn-small btn-success" ng-click="$flow.resume()">Upload</a>
    <a class="btn btn-small btn-danger" ng-click="$flow.pause()">Pause</a>
    <a class="btn btn-small btn-info" ng-click="$flow.cancel()">Cancel</a>
    <span class="label label-info">Size: {{$flow.getSize()}}</span>
    <span class="label label-info">Is Uploading: {{$flow.isUploading()}}</span>
  </p>
    <div  flow-transfers>
        <div ng-repeat="file in transfers" class="transfer-box">
            {{file.relativePath}} ({{file.size}}bytes)
            <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="{{file.progress() * 100}}"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     ng-style="{width: (file.progress() * 100) + '%'}">
                    <span class="sr-only">{{file.progress()}}% Complete</span>
                </div>
            </div>
            <div class="btn-group">
                <a class="btn btn-xs btn-warning" ng-click="file.pause()" ng-show="!file.paused && file.isUploading()">
                    Pause
                </a>
                <a class="btn btn-xs btn-warning" ng-click="file.resume()" ng-show="file.paused">
                    Resume
                </a>
                <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                    Cancel
                </a>
                <a class="btn btn-xs btn-info" ng-click="file.retry()" ng-show="file.error">
                    Retry
                </a>
            </div>
        </div>
    </div>

  <hr class="soften"/>

  <div class="alert" flow-drop flow-drag-enter="class='alert-success'" flow-drag-leave="class=''"
          ng-class="class">
    Drag And Drop your file here
  </div>
</div>
</body>
</html>